@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html, body {
    @apply min-h-screen;
    background: transparent;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

*::-webkit-scrollbar {
  display: none;             /* Chrome, Safari and Opera */
}